        /*  TODO: 
        MAKE ALL LINKS HAVE VISUAL FEEDBACK WHEN HOVERING 
        FIX COLOURS
        ADD SPECIFIC SECTIONS TO EACH DOCUMENT AND NAME THEM
        */

/*----------------------------------------MENU BAR-----------------------------------------*/
.menu-background{ /*BLUE MENU BAR*/
    width: 100%;
    background-color: rgb(124, 195, 249);
    border-style: solid;
    border-color: white;
}

.NAVIGATIONMENU { /* The actual menu bar LIST */
    display: flex;
    flex-wrap: wrap;
    flex:1 1 40%;
    gap: clamp(0px, 1vw, 15px);
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    justify-content: center;
}

.NAVIGATIONMENU li { /* Menu Bar List ITEMS */
    font-family: "Faculty Glyphic", serif;
    min-width: 100px; /* Ensure items are not too small to be readable */
    flex:1 1 40%;
    padding: clamp(5px, 1vw, 10px);  
    text-align: center;
    flex-grow: 1; /* Allow items to grow to fill available space */
    flex-basis: auto; /* Let the items decide their size based on content */
}

.NAVIGATIONMENU li a { /* Menu Bar List LINKS */
    font-family: "Faculty Glyphic", serif;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    overflow-wrap: break-word;
    white-space: nowrap;
    color: rgb(12, 12, 228);
}

.NAVIGATIONMENU li a:hover { /* Menu Bar HOVER FUNCTION */
    box-shadow: 0 6px 8px rgba(21, 70, 174, 0.5); /* Horizontal vertical blur radius color */
    color: white;
    border-radius: 8px;
    background-color: pink;
}
/*--------------------------------------------MENU BAR END-----------------------------------*/



.HeadingSection{ /*------------------HEADING SECTION FROM H1-H3----------------------*/
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(209, 126, 209);

    #PortfolioMainPageH1{ /*MainPageHeading NO LINK*/
        font-family:"DynaPuff", sans-serif;
        max-width: 80%;
        color: rgb(54, 0, 54);
        justify-content: center;
        align-self:center;
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    #PORTFOLIOLINK a{ /*Link to main heading - every page BUT MAIN*/
        font-family: "DynaPuff", sans-serif;
        color: rgb(54, 0, 54);
        text-align: center;
        text-decoration: none;
        }
    #PORTFOLIOLINK a:hover{ /*HOVER Function "Sarah Parker's Portfolio" every page BUT main*/
        color:rgb(97, 17, 85);
        text-decoration: underline;
    }
    #PortfolioMainPageIDUXH2{ /*Main Page - ID: UX & about me & contact me & projects & resume */
        font-family:"Faculty Glyphic", serif;
        align-self: center;
        color:rgb(97, 17, 85);
        margin-top:5px
    }  
    #SADT{ /*Main Page - School for Advanced Digital Technology*/
        font-family:"Faculty Glyphic", serif;
        align-self: center;
        color:rgb(95, 2, 95);
        margin-bottom: 10px;
        padding: 0 0;
    }
    figure#SarahPNG{ /*Main Page Photo*/
        align-self: center;
        max-width: 30%;
        height: auto;
        border-style:groove;
        border-color: white;
    }
}
    /*** -------------------------------HEADING SECTION END--------------------------------***/


#Biography{  /*Main Page - PARAGRAPH ID BIOGRAPHY*/
    font-family:"DynaPuff", sans-serif;
    color: rgb(0, 0, 105);
    max-width: 90%;
    background-color:rgb(113, 212, 255);
    align-self: center;
    border-color: aliceblue;
    border-style:double;
    border-width: 10px;
    padding: 10px 5px;
}
/*--------------------------------------MAIN CONTENT BEGIN-----------------------------------*/
.MainContent {
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    background-color: powderblue;

    #SAITGoals{ 
        color:rgb(0, 0, 105);
        font-family: "Faculty Glyphic",serif;
    }
    #SAITGoalsList{
        font-family:"Faculty Glyphic",serif;
        color:blueviolet;
        align-self: center;
        padding-bottom: 10px;
        margin-top:0px;
    }
    .odd{color:rgb(37, 13, 143)}
    .even{color:rgb(140, 8, 127)}

    .DETAILS{   /*-------EXPANDABLE EDUCATION BACKGROUND-------*/
        max-width: 80%;
        display: flex;
        font-family:"Faculty Glyphic", serif;
        font-size: clamp(13px, 2vw, 35px); /*Min, scale, Max*/
        color:rgb(9, 3, 82);
        margin-bottom: 10px;
        padding-bottom: 10px;
        [open]{
            background-color: rgb(207, 249, 255);
            border-radius: 10px;
        }
        summary {
            padding: 10 10;
            text-align: center;
        }
    }
    #LINKEDIN , #GITHUB , #EMAIL {
        font-family:"Faculty Glyphic", serif;
        text-decoration: none;
        color:rgb(95, 2, 95);
    }
    #LINKEDIN a, #GITHUB a, #EMAIL a{
        font-family:"Faculty Glyphic", serif;
        text-decoration: none;
        color:rgb(9, 3, 82);
    }
    #LINKEDIN a:hover, #GITHUB a:hover, #EMAIL a:hover{
        color:blueviolet;
        text-decoration: underline;
    }
}

.ListOfSoftware{
    font-family: "Faculty Glyphic", serif;
    color:rgb(9, 3, 82);
}
.Paragraph {
    display:flex;
    align-self: center;
    font-family:"DynaPuff", sans-serif;
    color:rgb(9, 3, 82);
}

.BodyHeadings{
    display:flex;
    justify-content: center;
    Font-family:"DynaPuff", sans-serif;
    color:rgb(95, 2, 95);
}

/*----------------------------ABOUT ME PAGE----------------------------*/

#MediumList{
    padding-left: 45px;;
    font-family: "Faculty Glyphic", serif;
    color:rgb(9, 3, 82);
}

#GenreTalk{
    Font-family:"DynaPuff", sans-serif;
    color:rgb(0, 0, 105);;
    margin: auto;
    max-width: 90%;
    display: flex;
    text-align: center;
}

#MusicArtistList{
    padding-left: 30px;
    display: flex;
    flex-flow: column;
    max-block-size: 136px;
    align-items: center;
    font-family: "Faculty Glyphic", serif;
    color:rgb(95, 2, 95);
}

#MusicArtistList li {
    padding: 0 0;
    margin:0;
}


#MusicArtistList li a {
    text-decoration: none;
    color:rgb(95, 2, 95);
}

#MusicArtistList li a:hover{
    color:blueviolet;
}

#Artistic-History-Title{
    font-family:"Faculty Glyphic", serif;
    color:rgb(9, 3, 82);
    margin-top:30px;
    margin-bottom: 0px;
}
#Artistic-History{
    font-family:"DynaPuff", serif;
    color: rgb(0, 0, 105);
    max-width: 90%;
    align-self: center;
    border-width: 10px;
    padding: 10px 5px;
}
/*---------------------------- ABOUT ME END ----------------------------*/

.HEADING{
    color:rgb(95, 2, 95);
    font-family:"Faculty Glyphic", Serif ;
}


footer{
    color:rgb(9, 3, 82);
    align-self: flex-start;
    background-color: rgb(151, 182, 254);
    border-style: solid;
    border-width: 1px;
    
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color:blueviolet;
    text-decoration: underline;
}

/*----------------------------  CONTACT ME ----------------------------*/
/*----------------------------  CONTACT ME END----------------------------*/

/*-----------------------------------------MEDIA QUERIES----------------------------*/

@media(max-width:600px){  /*------------------------MOBILE-------------------*/
    body{
        background-color: blue;
    }
    .menu-background{
    
    }
    .HeadingSection #PortfolioMainPageH1{
        font-size: clamp(16px,4vw,40px);
    }
    .HeadingSection #PortfolioMainPageIDUXH2{
        font-size: clamp(13px,3vw,30px);
    }
    .HeadingSection #SADT{
        font-size: clamp(10px,3vw,20px);;
    }

    .NAVIGATIONMENU li{
        font-size: clamp(12px,3vw,20px);
        gap: clamp(2px,3vw,30px);
        padding:clamp(0px,1vw,20px);
    }

    .MainContent #Biography{
        font-size:clamp(12px,2.5vw,20px); ;

    }
}

@media(min-width:601px) and (max-width:1200px){/*------------------------TABLET-------------------*/
    body{
        background-color: purple;
        /*HEADINGS*/

        /*BODY*/
    }
}

@media(min-width:1201px){   /*------------------------DESKTOP+-------------------*/
    body{
        background-color: green;
        /*HEADINGS*/

        /*BODY*/
    }
}